.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background: #cab1cc;
    backdrop-filter: blur(8px);
    z-index: 1000;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  }
  
  .nav-container {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .logo-img {
    height: 95px;
    object-fit: contain;
  }
  
  /* links */
  
  .nav-menu {
    display: flex;
    gap: 24px;
    list-style: none;
  }
  
  .nav-item a {
    text-decoration: none;
    color: #222;
    font-weight: 500;
    position: relative;
    padding: 6px 0;
    transition: 0.25s;
  }
  
  /* underline hover effect */
  
  .nav-item a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background: #8e5b8f;
    transition: width 0.25s;
  }
  
  .nav-item a:hover::after {
    width: 100%;
  }
  
  .nav-item a:hover {
    color: #8e5b8f;
  }
  
  /* mobile */
  
  .menu-icon {
    display: none;
    font-size: 26px;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .menu-icon {
      display: block;
    }
  
    .nav-menu {
      position: fixed;
      top: 70px;
      left: -100%;
      width: 100%;
      background: white;
      flex-direction: column;
      text-align: center;
      padding: 20px 0;
      transition: 0.3s;
    }
  
    .nav-menu.active {
      left: 0;
    }
  
    .nav-item a {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.5px;
      }
      
  }
  